@import url('./styles/base.css');
@import url('./styles/navbar.css');
@import url('./styles/sidebar.css');
@import url('./styles/modals.css');
@import url('./styles/cards.css');
@import url('./styles/buttons.css');
@import url('./styles/forms.css');
@import url('./styles/home.css');
@import url('./styles/layouts.css');
@import url('./styles/utilities.css');
@import url('./styles/utilities.css');
@import url('./styles/profile.css');

