<button class="button-secondary js-back-btn" style="margin-bottom: 1.5rem;">&larr; Volver a Configuración</button>

<h2>Accesibilidad y visualización</h2>

<ul class="settings-list">
    <li class="settings-list-item">
        <span>Tema de la Aplicación</span>
        <select id="themeSelector" class="theme-selector">
            <option value="light">Claro</option>
            <option value="light-gray">Gris Claro</option>
            <option value="dark">Oscuro</option>
            <option value="colorful">Colorido</option>
        </select>
    </li>
    <li class="settings-list-item">
        <span>Desactivar Animaciones</span>
        <label class="switch">
            <input type="checkbox" id="animationsToggle">
            <span class="slider"></span>
        </label>
    </li>
</ul>